{% extends 'mainsite/base/base_anonymous.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <div id="topic">
                    <h1 id="the_title">
                        <a href="" itemprop="url">
                            <span itemprop="name">Anonymous</span>
                        </a>
                    </h1>
                    <div class="clearfix sub-title-container">
                        <div class="sub-title-menu">
                        </div>
                        <div style='clear:both'></div>
                    </div>
                    <ul id="entry-list">
                        <li>
                            <div class="content">
                                Anonymous
                            </div>
                        </li>
                    </ul>
                    <div style='clear:both'></div>
                    <div style="text-align:center">
                    </div>
                </div>
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">no idea what to put here(index)</h2>
                        <ul>
                            <li><a class="index-link" href="" title="dummy hover">No idea what to put here for now(index)</a></li>
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}