{% extends 'mainsite/base/base.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
        <section id="content-body">
            &#65279;
            <div id="topic">
                {% for title, entry in random_titles %}
                <h1 id="title">
                    <a href="{% url 'title' title.url %}" itemprop="url">
                        <span itemprop="name">{{ title.text }}</span>
                    </a>
                </h1>
                <ul id="entry-item-list" class="home-page-entry-list" style="margin-bottom:50px;">
                    {% include 'mainsite/children/entry_template.html' with
                        entries_of="title"
                        belongs_to="profile"
                        belongs_to_url_arg_value="author"
                    %}
                </ul>
                {% endfor %}
            </div>
        </section>
        {% include 'mainsite/children/aside_template.html' with
            aside_check=events
            aside_objects=events
            aside_hover_title_attr="short_desc"
            aside_default="No Events"
        %}
        </aside>
    </div>
{% endblock %}

