{% extends 'mainsite/base/base.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <div id="topic">
                    <h1 id="the_title">
                        <a href="" itemprop="url">
                            <span itemprop="name">{{title_text}}</span>
                        </a>
                    </h1>
                    {% include 'mainsite/children/sortable_pager.html' %}
                    <ul id="entry-list">
                    {%if entries%}
                        {% for entry in entries %}
                        <li>
                            <div class="content">
                                {{ entry.text|linebreaks }}
                            </div>
                            <footer>
                                {% include 'mainsite/children/feedback.html' %}
                                <div class="info">
                                    {% if user.is_authenticated and entry.author == user %}
                                    <a data-id="{{entry.pk}}" title="delete" class="entry-date permalink delete" style="background:none;border:none;margin:0;padding:0;">!</a>
                                    {% else %}
                                    <a data-id="{{entry.pk}}" title="report" class="entry-date permalink reportentry" style="background:none;border:none;margin:0;padding:0;">!</a>
                                    {% endif %}
                                    <a href="{% url 'entry' entry_pk=entry.pk %}" class="entry-date permalink">{{entry.date}}</a>
                                    <a class="entry-author" href="{%url 'profile' user=entry.author %}">{{ entry.author }}</a>
                                </div>
                            </footer>
                        </li>
                        {% endfor %}
                    {%else%}
                        <li>
                            <div class="content">
                                {{empty_title|safe}}
                            </div>
                        </li>
                    {%endif%}
                    </ul>
                    {%if entries%}
                    {% include 'mainsite/children/pager.html' %}
                    {% endif %}
                    <div style='clear:both'></div>
                    <div style="text-align:center"></div>
                    {% if user.is_authenticated and allowed_to_write %}
                    <div class="entry-edit-form-container">
                        <form method="POST" class="editform" >
                            {% csrf_token %}
                            {{ form.errors }}
                            <fieldset class="vertical">
                            <div class="edittools"></div>
                                <label>
                                    <input style="display: none" name="title" value="{{title_text}}">
                                </label>
                                <textarea minlength="5" style="resize: vertical;min-height: 2cm; overflow:hidden" name="text" class="edittextbox with-helpers track-changes" id="editbox" placeholder="some place holder because this looks good" rows="10"></textarea>
                            <div class="actions">
                                &nbsp;&nbsp;
                                <button style="border-color: #494949" type="submit" class="primary">send</button>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">tags</h2>
                        <ul>
                        {%if entries%}
                            {% for channel in title.channels.all %}
                            <li><a class="index-link" title="{{channel.description}}">#{{ channel }}</a></li>
                            {% endfor %}
                        {%else%}
                            <li><a class="index-link" href="whatever" title="Footloose Description">#footlose</a></li>
                        {%endif%}
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}
