{% extends 'mainsite/base/base_anonymous.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <div class="form-container" id="login-form-container">
                    <h1>log in</h1>
                    <form method="post" novalidate="novalidate">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <fieldset class="vertical">
                        <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="https://eksisozluk.com/kayit">
                        <div>
                            <label for="username">username/email</label>
                            <input id="username" type="text" name="username">
                        </div>
                        <div>
                            <label for="password">password</label>
                            <input id="password" type="password" name="password">
                        </div>
                        <div class="actions">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">try to log in</button>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">Don't want to bother?</h2>
                        <ul>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Google</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Facebook</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Twitter</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Steam</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Reddit</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Github</a></li><br>
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}