{% extends 'mainsite/base/base.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <div id="topic">
                    <h1 id="the_title">
                        <a href="" itemprop="url">
                            <span itemprop="name">{{username}}</span>
                        </a>
                    </h1>
                    {% include 'mainsite/children/sortable_pager.html' %}
                    <ul id="entry-list">
                    {%if entries%}
                        {% for entry in entries %}
                        <li>
                            <div class="content">
                                {{ entry.text|linebreaks }}
                            </div>
                            <footer>
                                {% include 'mainsite/children/feedback.html' %}
                                <div class="info">
                                    <a data-id="{{entry.pk}}" title="{% if entry.author == user %}delete{% else %}report{% endif %}" class="entry-date permalink reportentry" style="background:none;border:none;margin:0;padding:0;">!</a>
                                    <a href="{% url 'entry' entry_pk=entry.pk %}?entries_of=user" class="entry-date permalink">{{entry.date}}</a>
                                    <a class="entry-author" href="{%url 'title' title_text=entry.title.url %}">{{ entry.title }}</a>
                                </div>
                            </footer>
                        </li>
                        {% endfor %}
                    {%else%}
                        <li>
                            <div class="content">
                                {{empty_title|safe}}
                            </div>
                        </li>
                    {%endif%}
                    </ul>
                        {%if entries%}
                        {% include 'mainsite/children/pager.html' %}
                        {% endif %}
                    <div style='clear:both'></div>
                    <div style="text-align:center"></div>
                </div>
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">tags</h2>
                        <ul>
                        {%if entries%}
                            {% for channel in title.channels.all %}
                            <li><a class="index-link" title="{{channel.description}}">#{{ channel }}</a></li>
                            {% endfor %}
                        {%else%}
                            <li><a class="index-link" href="whatever" title="Footloose Description">#footlose</a></li>
                        {%endif%}
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}
