{% extends 'mainsite/base/base.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <h1>{{channel}}</h1>
                {% include 'mainsite/children/pager.html' %}
                <ul class="topic-list">
                    {% for title in titles %}
                        <li><a href="{%url "title" title_text=title.url%}" draggable="true">{{title.text}}<small>0</small></a></li>
                    {% endfor %}
                </ul>
               {% include 'mainsite/children/pager.html' %}
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">information about titles</h2>
                        <ul>
                            <li><a class="index-link">{{description}}</a></li>
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}