{% extends 'mainsite/base/base.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                {% if user.is_authenticated %}
                <div>You are already logged in tho.</div>
                {% else %}
                <div class="form-container" id="register-form-container">
                    <h1>new user form</h1>
                    <form class="registration-form" id="register-form" method="POST">
                        {% csrf_token %}
                        {{ form.errors }}
                        <fieldset class="vertical">
                            <div>
                                <label for="Nick">username</label>
                                <input id="Nick" name="username" type="text" value="">
                            </div>
                            <div>
                                <label for="Email">e-mail</label>
                                <input id="Email" name="email" type="email" value="">
                            </div>
                            <div class="row">
                                <div class="col-label">
                                    <label for="Password">password</label>
                                </div>
                                <div class="col-input">
                                    <div id="pw-strength-meter">
                                        <span class="meter-ineksicoator"></span>
                                    </div>
                                    <input id="Password" name="password1" type="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-label">
                                    <label for="PasswordConfirm">password confirmation</label>
                                </div>
                                <div class="col-input">
                                    <input id="PasswordConfirm" name="password2" type="password">
                                </div>
                            </div>
                            <div>
                                By clicking the submit button you affirm that you have read the <a href="tos" target="_blank">User Agreement</a>.
                            </div>
                            <div class="actions">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">sign up</button>
                            </div>
                        </fieldset>
                    </form></div>
                {% endif %}
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">Don't want to bother?</h2>
                        <ul>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Google</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Facebook</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Twitter</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Steam</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Reddit</a></li><br>
                            <li><a class="index-link" href="" title="This Option Has Not Been Enabled">Use My Github</a></li><br>
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}