{% extends 'mainsite/base/base.html' %}

{% block content2 %}
    <div id="content" class="instapaper_body" role="main">
        <section id="content-body">
            <div id="topic">
                <h1 id="the_title">
                    {% if entries_of == "user" %}
                        <a href="{% url 'profile' user=entry.author.url %}" itemprop="url">
                            <span itemprop="name">{{ entry.author }}</span>
                        </a>
                    {% else %}
                        <a href="{% url 'title' title_text=entry.title.url %}" itemprop="url">
                            <span itemprop="name">{{ entry.title }}</span>
                        </a>
                    {% endif %}
                </h1>
                <div class="clearfix sub-title-container">
                    <div class="sub-title-menu">
                        {% include 'mainsite/children/nice_toggle.html' %}
                    </div>
                </div>
                {% if prev.count > 0 %}
                    <a href="{% url 'entry' entry_pk=prev.entry.pk %}?order={{ order }}&entries_of={{ entries_of }}"
                       class="showall more-data" title="tümünü göster">{{ prev.count }} more entry</a>
                {% endif %}
                <ul id="entry-list">
                    {% include 'mainsite/children/entry_template.html' with
                    entries_of=entries_of
                    belongs_to=belongs_to
                    belongs_to_url_arg_value=belongs_to_related
                    %}
                </ul>
                {% if next.count > 0 %}
                    <a href="{% url 'entry' entry_pk=next.entry.pk %}?order={{ order }}&entries_of={{ entries_of }}"
                       class="showall more-data" title="tümünü göster">{{ next.count }} more entry</a>
                {% endif %}
                <div style="text-align:center">
                </div>
            </div>
        </section>
        <aside id="aside" style="margin-top: 10px">
            <section id="topic-channel-info">
                <div id="topic-channels">
                    <h2 id="channels">tags</h2>
                    <ul>
                        {% for channel in entry.title.channels.all %}
                            <li><a class="index-link" title="{{ channel.description }}">#{{ channel }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <div id="sticky-anchor"></div>
            <div id="sticky-criteo">
            </div>
        </aside>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
        <section id="content-body">
            <div id="topic">
                <h1 id="the_title">
                    {% if entries_of == "user" %}
                        <a href="{% url 'profile' user=entry.author.url %}" itemprop="url">
                            <span itemprop="name">{{ entry.author }}</span>
                        </a>
                    {% else %}
                        <a href="{% url 'title' title_text=entry.title.url %}" itemprop="url">
                            <span itemprop="name">{{ entry.title }}</span>
                        </a>
                    {% endif %}
                </h1>
                <div class="clearfix sub-title-container">
                    <div class="sub-title-menu">
                        {% include 'mainsite/children/nice_toggle.html' %}
                    </div>
                </div>
                {% if prev.count > 0 %}
                    <a href="{% url 'entry' entry_pk=prev.entry.pk %}?order={{ order }}&entries_of={{ entries_of }}"
                       class="showall more-data" title="tümünü göster">{{ prev.count }} more entry</a>
                {% endif %}
                <ul id="entry-item-list">
                    {% include 'mainsite/children/entry_template.html' with
                            entries_of="title"
                            belongs_to=belongs_to
                            belongs_to_url_arg_value=belongs_to_related
                    %}
                </ul>
                {% if next.count > 0 %}
                    <a href="{% url 'entry' entry_pk=next.entry.pk %}?order={{ order }}&entries_of={{ entries_of }}"
                       class="showall more-data" title="tümünü göster">{{ next.count }} more entry</a>
                {% endif %}
                <div style="text-align:center">
                </div>
            </div>
        </section>
        <aside id="aside" style="margin-top: 10px">
            <section id="topic-channel-info" class="highlighted-box">
                <div id="topic-channels" data-url="/kanal/baslik/5990434">

                    <h2 id="channels">başlığın kanalları</h2>
                    <ul>
                        <li class="channel channel-siyaset"><a class="index-link" href="/basliklar/kanal/siyaset"
                                                               title="partiler, politikacılar, terör, savaş kan ve korku">#siyaset</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="hidden-channels" style="display:none">
                siyaset
            </section>
        </aside>
    </div>
{% endblock %}

