{% extends 'mainsite/base/base_authenticated.html' %}

{% block content %}
    <div id="content" class="instapaper_body" role="main">
            <section id="content-body">
                <h1>settings</h1>
                <ul id="settings-tabs" class="tabs">
                    <li><a href="{%url 'preferences'%}">preferences</a></li>
                    <li class="active"><a href="{%url 'password'%}">password</a></li>
                    <li><a href="{%url 'email'%}">e-mail</a></li>
                    <li><a href="{%url 'delete_account'%}">delete account</a></li>
                </ul>
                <div class="form-container" id="register-form-container">
                    <h1>password configiration form</h1>
                    <form class="registration-form" id="register-form" method="POST">
                        {% csrf_token %}
                        {{ form.errors }}
                        <fieldset class="vertical">
                            <div>
                                <label for="oldpass">old password</label>
                                <input id="oldpass" name="old_password" type="password" value="">
                            </div>
                            <div>
                                <label for="oldpass2">old password confirmation</label>
                                <input id="oldpass2" name="old_password2" type="password" value="">
                            </div>
                            <div class="row">
                                <div class="col-label">
                                    <label for="newpass">new password</label>
                                </div>
                                <div class="col-input">
                                    <input id="newpass" name="new_password1" type="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-label">
                                    <label for="newpass2">new password confirmation</label>
                                </div>
                                <div class="col-input">
                                    <input id="newpass2" name="new_password2" type="password">
                                </div>
                            </div>
                            <div class="actions">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">change it mate</button>
                            </div>
                        </fieldset>
                    </form></div>
            </section>
            <aside id="aside" style="margin-top: 10px">
                <section id="topic-channel-info">
                    <div id="topic-channels">
                        <h2 id="channels">want more?</h2>
                        <ul>
                            <li><a class="index-link" href="" title="contact page">contact us here</a> so we can add it</li>
                        </ul>
                    </div>
                </section>
                <div id="sticky-anchor"></div>
                <div id="sticky-criteo">
                </div>
            </aside>
        </div>
{% endblock %}
